<section id="contacto" class="py-24 border-t border-zinc-900 flex flex-col items-center text-center">
    <h2 class="text-4xl md:text-6xl font-black tracking-tighter mb-8">
        Vamos construir <br>algo <span class="text-techgreen">juntos?</span>
    </h2>
    <a href="mailto:cybersec.joao@proton.me" class="flex items-center gap-4 text-white transition-all duration-300 group border border-zinc-800 rounded-full px-10 py-5 text-xl bg-zinc-900/50 hover:bg-techgreen hover:border-techgreen shadow-2xl hover:scale-105 active:scale-95">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="group-hover:stroke-white transition-colors"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
        <span class="font-bold">Entrar em contacto!</span>
    </a>
</section>